.grow4 {
    flex: 4
}

.grow2 {
    flex: 2
}

.grow1 {
    flex: 1
}

.toolbar_topic {
    flex: 4;

}

.toolbar_replies_count {
    flex: 1
}

.toolbar_last_reply {
    flex: 2
}

.bg {
    min-height: 100vh;
}

.info_bar {
    display: flex;
    background-color: rgb(64,63,60);
    color: white;
    padding: 10px;
}

.replies {
    text-align: center;
    flex: 1
}

.topic_preview {
    display: flex;
}

.all_previews {
    border-radius: 5px;
    overflow: hidden;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(176,167,164);
}

.empty button {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(64,63,60);
    color: white;
    transition: 0.2s;
}

.topic_preview {
    padding: 10px;
    background-color: rgb(176,167,164);
    border-bottom: 1px solid gray;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(130, 91, 18);
    cursor: pointer;
    border-bottom: 1px solid rgb(176,167,164);
    transition: 0.2s;
}

.title:hover {
    border-bottom: 1px solid rgb(130, 91, 18);
    transition: 0.2s;
}

.date {
    color: rgb(130, 91, 18);
}

.text {
    color: rgb(64,63,60);
}

.empty_div {
    width: 16px;
}

.favoriteStarEmpty {
    color: rgb(130, 91, 18);
    cursor: pointer;
}

@media (max-width: 400px) {
    .toolbar_last_reply {
        text-align: center;
    }

    .text {
        font-size: 14px;
        color: rgb(64,63,60);
    }

    .date {
        font-size: 15px;
        color: rgb(130, 91, 18);
    }

    .title {
        font-size: 15px;
        font-weight: 600;
        color: rgb(130, 91, 18);
        cursor: pointer;
        border-bottom: 1px solid rgb(176,167,164);
        transition: 0.2s;
    }
     
}