.login-main {
    height: 100vh;
    background-color: rgb(217,208,209);
    padding: 20px;

    display: flex;
    justify-content: center;

}

.not-registered {
    color: rgb(64,63,60);
}

.not-registered-span {
    padding: 0 2px;
    border-bottom: 1px solid rgb(64,63,60);
    cursor: pointer;
}

.message-success-false {
    font-size: 15px;
    color: #983535;
}

.message-success-true {
    font-size: 15px;
    color: #2b602b;
}


@media (max-width: 575px) {
    .login {
        background-color: rgb(176,167,164);
        padding: 20px;
        border-radius: 5px;
        width: 90%;
        height: 500px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .login img {
        width: 200px;
    }

    .login-inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .login-inputs input {
        padding: 5px;
        max-width: 200px;
        border: none;
        border-radius: 5px;
    }

    .login-inputs input:focus {
        outline: none;
    }

    .login-inputs button {
        padding: 5px;
        width: 65px;
        background-color: gray;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media (min-width: 576px) {
    .login {
        background-color: rgb(176,167,164);
        padding: 30px;
        border-radius: 5px;
        width: 600px;
        height: 300px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .login img {
        width: 250px;
    }

    .login-inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .login-inputs input {
        padding: 5px;
        max-width: 200px;
        border: none;
        border-radius: 5px;
    }

    .login-inputs input:focus {
        outline: none;
    }

    .login-inputs button {
        padding: 5px;
        width: 65px;
        background-color: gray;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media (min-width: 758px) {
    .login {
        background-color: rgb(176,167,164);
        padding: 30px;
        border-radius: 5px;
        width: 600px;
        height: 300px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .login img {
        width: 300px;
    }

    .login-inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .login-inputs input {
        padding: 5px;
        max-width: 200px;
        border: none;
        border-radius: 5px;
    }

    .login-inputs input:focus {
        outline: none;
    }

    .login-inputs button {
        padding: 5px;
        width: 65px;
        background-color: rgb(64,63,60);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

