.grow1 {
    flex: 1;
}

.grow2 {
    flex: 2;
}

.grow3 {
    flex: 3;
}

.w100 {
    width: 100%;
}

.p10 {
    padding: 10px;
}

.toolbar div {
    cursor: pointer;
    padding: 0 5px;
    transition: 0.2s;
}

.toolbar div:hover {
    border-bottom: 1px solid white;
    transition: 0.2s;
}

.selected {
    border-bottom: 1px solid white;
}

.my_comments {
    background-color: rgb(176,167,164);
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}

.comments_info_bar {
    display: flex;
    background-color: rgb(64,63,60);
    color: white;
    padding: 10px;
}

.my_comment_preview {
    display: flex;
    padding: 10px;
}

.topic_title {
    flex: 1;
    margin-left: 5px;
}

.comment {
    flex: 2;
    margin-left: 5px;
}

.userInfo {
    background-color: rgb(176,167,164);
    width: 200px;
    padding: 20px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats {
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    gap: 3px;
}

.userImage {
    width: 150px;
}

.edit_btn {
    width: 100%;
    border: none;
    padding: 5px 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(64,63,60);
    color: white;
    transition: 0.2s;
}

.create_btn {
    width: 100%;
    border: none;
    padding: 5px 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(64,63,60);
    color: white;
    transition: 0.2s;
}

.logout_btn {
    width: 100%;
    border: none;
    padding: 5px 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(64,63,60);
    color: white;
    transition: 0.2s;
    margin-top: 10px;
}

.modal_bg {
    position: absolute;
    background-color: rgba(243, 243, 243, 0.415);
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_body {
    width: 200px;
    background-color: rgb(176,167,164);
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    z-index: 99999;

    display: flex;
    flex-direction: column;
}

.modal_body h3 {
    margin: 5px 0;
}

.modal_body input {
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.modal_body input:focus {
   outline: none;
}

.close_modal {
    display: flex;
    justify-content: flex-end;
}

.close_modal svg {
    cursor: pointer;
}

.change_btn {
    width: 100%;
    border: none;
    padding: 5px 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(64,63,60);
    color: white;
    transition: 0.2s;
}

@media (max-width: 767px) {
    .sm_d_none {
        display: none;
    }
    .sm_d {
        display: flex;
    }

    .profile_bg {
        min-height: 100vh;
        background-color: rgb(217,208,209);
        padding: 20px 50px;
        gap: 20px;
    
        display: flex;
        justify-content: center;
    }

    .toolbar {
        background-color: rgb(64,63,60);
        border-top: 1px solid rgba(218, 218, 218, 0.15);
        padding: 10px 0;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        color: white;
    }
}

@media (min-width: 768px) {
    .m_d_none {
        display: none;
    }

    .profile_bg {
        min-height: 100vh;
        background-color: rgb(217,208,209);
        padding: 20px 50px;
        gap: 20px;
    
        display: flex;
        justify-content: center;
    }

    .toolbar {
    background-color: rgb(64,63,60);
    border-top: 1px solid rgba(218, 218, 218, 0.15);
    padding: 10px 100px;
    display: flex;
    gap: 20px;
    color: white;
}
}
