.toolbar {
    background-color: rgb(64,63,60);
    color: white;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
}

.toolbar-right {
    cursor: pointer;
    padding: 2px 5px;
    border-bottom: 1px solid rgb(64,63,60);
    transition: 0.2s;
}

.toolbar-right:hover {
    border-color: white;
    transition: 0.2s;
}

.toolbar-left {
    display: flex;
    gap: 20px;
}

@media (max-width: 420px) {

    .toolbar {
        background-color: rgb(64,63,60);
        color: white;
        padding: 10px 20px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .toolbar-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    
}

.toolbar-left > div {
    cursor: pointer;
    padding: 2px 5px;
    border-bottom: 1px solid rgb(64,63,60);
}

.toolbar-left > div:hover {
    border-color: white;
    transition: 0.2s;
}

